---
layout: default
---

{% if page.subtitle or page.description %}
<div class="page-subtitle">
    {% if page.subtitle %}
        {{ page.subtitle }}
    {% else %}
        {{ page.description }}
    {% endif %}
</div>
{% endif %}

<div class="page-subtitle">
    {% for tag in page.tags %}
        {% if page.tags.first == tag %}
            <b>[</b>
        {% endif %}
        <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
        {% if page.tags.last == tag %}
            <b>]</b>
        {% else %}
            ,
        {% endif %}
    {% endfor %}
</div>

{{content}}
